/*Footer.css*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #495E57;
  color: white;
  width: 100%;
  white-space: nowrap;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  gap: 20px;
  white-space: nowrap;
}

footer img {
  height: 120px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 2px;
}

footer ul li a {
  font-family: 'Karla';
  color: white;
  font-size: 14px;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}