/*Nav.css*/

nav ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  white-space: nowrap;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: 'Karla';
  font-weight: bold;
  text-decoration: none;
  color: #495E57;
}

nav ul li a:hover {
  color: #EE9972;
}