nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: 'Karla';
  font-weight: bold;
  text-decoration: none;
  color: #495E57;
}

nav ul li a:hover {
  color: #EE9972;
}